body{
    background-color: #EFEFEF;
}
body header{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

body header a, body header a:hover{
    color: white;
    text-decoration: none;
}

aside{
    padding-right: 0px !important;
}

aside > div{
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

aside > div:not(:last-child){
    margin-bottom: 1.5rem;
}

div.userActions > a{
    border-radius: 10px !important;
}

body div.main-content{
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.content-box{
    background-color: #e7e7e7;
    padding: 1rem 1rem;
    border-radius: 8px;
}

.content-box .content{
    background-color: #ffffff;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
    border-radius: 8px;
}

.entry-preview{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1.5rem !important;
    border-radius: 5px;
    padding: 1em 0em;
}

.entry-preview .header{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1rem;
}

.entry-preview .header p, .entry-preview .header h4{
    margin-bottom: 0.5rem;
}

.header p{
    color: rgb(172, 172, 172);
}

.header p a{
    color: rgb(186, 186, 186);
}

.entry-preview a, .entry-header a{
    text-decoration: none;
    color: black;
}

.entry-preview a:hover, .entry-header a:hover{
    text-decoration: none;
    color: #0d6efd;
}

a.read-more{
    color: rgb(172, 172, 172);
    text-decoration: underline;
}
